body{
    font-family: "Open Sans", sans-serif;
    margin: 0;
    margin-left: 16px;
}
.navbar {
	border: 0;
    padding: 20px 5%;
    background-color: #fdbf09;
    box-shadow: 1px 1px 10px 2px #d2b30a;
    width: 95%;
    margin-bottom: 20px;
    margin-left: -16px;
}

#logout, #newpost {
	align:right;
}

.navlink {
	background: rgba(255,255,255,0.3);
    border: 1px solid #fff;
    color: #fff;
    font-size: 24px;
    border-radius: 3px;
    cursor: pointer;
    margin-right: 8px;
}

.navlink:hover{
    background: rgba(255,255,255,0.5);
}

#notification-area{
    display: inline-block;
    vertical-align: middle;
    float: right;
    margin-right: 1%;
    position: relative;
}

#notification-count{
    color: #fff;
}

#notifications{
    position: absolute;
    width: 200px;
    right: 35px;
    border: 1px solid #efefef;
    background: #fff;
    border-radius: 3px;
    display: none;
}

#notifications div{
    margin-left: 4px;
}

#notifications a {
    color: #222;
    text-decoration: none;
}
