{% extends "main.html" %}
{% block body %}
<h2>Registration</h2>
{% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
<form action="{{ url_for('register') }}" method=post>
    </dl>
    <dt>Email:
    <dd><input type=text name=email>
    <dt>Username:
    <dd><input type=text name=username>
    <dt>Enter Password:
    <dd><input type=password name=password1>
    <dt>Re-Enter Password:
    <dd><input type=password name=password2>
    <dd><input type=submit value=Login></dd>
        </dl>
</form>
{% endblock %}
